@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #040406
}

.header-Button-Gradient {
  background: linear-gradient(94deg, #3387D5 -5.94%, #7A06C9 115.34%);
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Optional, adjust as needed */
}


